@media screen and (min-width: 800px) {
body{
    margin: 0;
    font-family: Arial MT;
    background-color: #000000;
}
.first-screen{
    display: block;
    height: 80vh;
    width: 95vw;
}
#main-title{
    width: 600px;
    font-size: 73px;
    font-weight: 400;
}
#title{
    margin-left: 8%;
    margin-top: 6%;
    color: #ffffff;
}
#main-text{
    position: absolute;
    margin-left: 11%;
    width: 800px;
    font-size: 43px;
    font-weight: 400;
    color: #ffffff;
}
#picture-one{
    position: absolute;
    margin-left: 67%;
}

#picture-two{
    position: absolute;
    margin-left: 8%;
    margin-top: 18%;
}
.second-title-module{
    position: relative;
    margin-left: 40%;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    width: 430px;
    padding: 3px;
}
#second-title{
    background: black;
}
#about-title{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-family: Arial - Bold MT;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    outline : 0;
    -moz-outline : 0;
    border : 0;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about-me{
    position: absolute;
    color: white;
    width: 814px;
    height: 526px;
    font-family: Arial MT;
    font-size: 40px;
    font-weight: 400;
    margin-left: 7%;
    margin-top: 5%;
}
#about-me-pic{
    position: absolute;
    margin-left: 60%;
    margin-top: 15%;
}
.second-screen{
    display: block;
    height: 90vh;
    width: 95vw;
}
#project-title{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-family: Arial - Bold MT;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    outline : 0;
    -moz-outline : 0;
    border : 0;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects-title-module{
    position: relative;
    margin-left: 40%;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    width: 430px;
    padding: 3px;
}
#project-title-wrap{
    background: black;
}
#first-project-module{
    margin-top: 2%;
    position: relative;
    margin-left: 6%;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    width: 60%;
    padding: 3px;
    height: auto;
    display: flex;
}
#first-project-wrap{
    height: 100%;
    background: black;
}
.project-text{
    color: white;
    font-family: Arial - Bold MT;
    font-size: 20px;
    font-weight: 400;
}
#second-project-module{
    margin-top: 2%;
    position: relative;
    margin-left: 6%;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    width: 60%;
    padding: 3px;
    height: auto;
    display: flex;
}
#second-project-wrap{
    height: 100%;
    background: black;
}

#third-project-module{
    margin-top: 2%;
    position: relative;
    margin-left: 6%;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    width: 60%;
    padding: 3px;
    height: auto;
    display: flex;
}
#third-project-wrap{
    height: 100%;
    background: black;
}
#project-img{
    position: absolute;
    margin-left: 75%;
    margin-top: -23%;
}
.project-date{
    float: right;
    margin-right: 2%;
}
.p-date{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-family: Arial - Bold MT;
    font-size: 22px;
    font-weight: 600;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-header{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-family: Arial - Bold MT;
    font-size: 30px;
    font-weight: 900;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-lang{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-family: Arial - Bold MT;
    font-size: 22px;
    font-weight: 600;
    background-image: linear-gradient(to right, #ffff00 0%, #ffcc00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-lang{
    float: right;
}
#second-first-lang{
    margin-right: 20%;
}
#second-second-lang{
    margin-right: 20%;
}
#second-third-lang{
    margin-right: 20%;
}
}
@media screen and (max-width: 800px) {
    body {
        background-color: yellow;
    }
}